@media (max-width: 1024px) {
	.birthday-box {
		margin-left: 295px; 
	}
}

@media (max-width: 650px) {
	footer {
		display: none;
	}

	.birthday-box {
		margin-left: 15px; 
	}

	#sign-image {
		height: 90%;
		width: 85%;
	}
}