* {
	margin: 0;
	padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
}

html {
	height: 100%;
}

body {
  background: #000000; 
  color: #5ffbfb;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	height: 100%;
} 

.birthday-box {
  padding: 10px;
  width: 400px;
  font-size: 18px;
  margin-left: 385px; 
}

label {
  margin-left: 8px; 
}

input {
	background: #181a1b;
	color: #ffffff;
	width: 40px;
}

#discoverBtn {
	background: #181a1b;
	color: #ffffff;
	margin-left: 8px;
	border-radius: 2px;
	cursor: pointer;
	height: 32px;
	width: 128px;
}

.results { 
  font-size: 26px;
  text-align: center; 
}

#sign-name { 
  margin-top: 10px;
  margin-bottom: 10px;
}

#sign-image { 
  height: 500px;
}

footer {
	font-size: 16pt;
  background: black;
  color: white;
  text-align: center;
}

.social {
	background: #049e9e;
  color: black;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 12px;
}

footer i {
  padding: 8px;
}

footer i:hover {
	transition: 0.75s;
	background: #d0d0d0;
}

footer a {
  text-decoration: none;
  color: white;
}

.fab {
	background: white;
	color: #d0d0d0;
	border-radius: 50%;
	margin-right: 16px;
	transition:color 0.1s;
}

.fa-linkedin:hover{
 color: #2b55ff;
}

.fa-github:hover{
	color: #000000;
}