:root {
  --azul:#5ffbfb;
	--azulEscuro: #049e9e;
  --preto:#181a1b;
  --branco: #ffffff;
  --cinza: #d0d0d0;
}

* {
	margin: 0;
	padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
}

html {
	height: 100%;
}

body {
  background: var(--preto);
  color: var(--azul);
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	height: 100%;
} 

.birthday-box {
  padding: 10px;
  width: 400px;
  font-size: 18px;
  margin-left: 385px; 
}

label {
  margin-left: 8px; 
}

input {
	background: var(--preto);
	color: var(--branco);
  border-left: 2px solid var(--azul);
	width: 40px;
	text-align: center;
}

input:hover {
  border-left: 2px solid var(--branco);
}

#discoverBtn {
	background: var(--preto);
	color: var(--branco);
	margin-left: 8px;
	border-radius: 2px;
	cursor: pointer;
	height: 32px;
	width: 128px;
}

#discoverBtn:hover {
	color: var(--azul);
  border: 2px solid var(--branco);
}

.results { 
  font-size: 26px;
  text-align: center; 
}

#sign-name { 
  margin-top: 10px;
  margin-bottom: 10px;
}

#sign-image { 
  height: 500px;
}

footer {
	font-size: 16pt;
  background: var(--preto);
  color: var(--branco);
  text-align: center;
}

.social {
	background: var(--azulEscuro);
  color: var(--preto);
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 12px;
}

footer i {
  padding: 8px;
}

footer i:hover {
	transition: 0.75s;
	background: var(--cinza);
}

footer a {
  text-decoration: none;
  color: var(--branco);
}

.fab {
	background: var(--branco);
	color: var(--cinza);
	border-radius: 50%;
	margin-right: 16px;
	transition:color 0.1s;
}

.fa-linkedin:hover{
 color: #2b55ff;
}

.fa-github:hover{
	color: #000000;
}